<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>LK Control Project</h1>
                <h2>request create test develop share our control component</h2>
            </hgroup>
            <p>
                this project only control test and example  
            </p>
            
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Control List:</h3>
        <ol class="round">
            <li class="one">
                <h5>search dropdown auto complete</h5>
                this serachbox 
                is <em style="color:red">multiple token</em> 
                isnot <em style="color:red">advance search</em>
                @Html.ActionLink("Example","index","search")
                and transform to @Html.ActionLink("directive","directive","search")  for easy to intregate
                <p> this is sigle search with search more.. @Html.ActionLink("SearchAndMore","SearchAndMore","search")  </p>
                <p>test ngInfifnitescroll @Html.ActionLink("Infinitescholl","Infinitescholl","search") 
                and @Html.ActionLink("UIBootstrapTypeAhead","UIBootstrapTypeAhead","Home")</p>
            </li>

            <li class="two">
                <h5>Timeframe </h5>
                this date search Timeframe instyle
                @Html.ActionLink("ExampleTimeframe","index","Timeframe")
            </li>
            <li class="three">
                <h5>Find Web Hosting</h5>
                You can easily find a web hosting company that offers the right mix of features
                and price for your applications.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245164">Learn more…</a>
            </li>
        </ol>
    </section>
</div>
